<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Alternakraft Main Menu</title>
        <link rel="stylesheet" href="/styles/shared.css">

    </head>    
    <body>
        <h1>Welcome to Alternakraft!</h1>
        <div class="reports">
            <p>Please choose what  you'd like to do:</p>


            <p><a href="/households" class="reports">Enter my household info</a></p>
            <p><a href="/reports"  class="reports">View reports/query data</a></p>
     </div>
    </body>
</html>