<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles/shared.css">
        <title>Reports</title>
    </head>    
    <body>
        <h1 class="reports">Reports</h1>
        <div class="reports">
            <p><a href="/reports/top25" class="reports">Top 25 Popular Manufacturers</a></p>
            <p><a href="/reports/search" class="reports">Manufacturer/model search</a></p>
            <p><a href="/reports/heat-cool" class="reports">Heating/cooling method details</a></p>
            <p><a href="/reports/water-heater" class="reports">Water heater statistics</a></p>
            <p><a href="/reports/offgrid-households" class="reports">Off-grid household dashboard</a></p>
            <p><a href="/reports/household-average" class="reports">Household average by radius</a></p>
        
        </div>
        <p><a href="/" class="back">Back to Main Menu</a></p>
    </body>
    
</html>