<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles/shared.css">
    </head>    
    <body>
        <div class="progress-bar">
            <div class="completed">Household Info</div>
            <div class="completed">Appliances</div>
            <div class="completed">Power Generation</div>
            <div class="completed">Done</div><div class="arrow-right-done"></div>
        </div>
        
        <h1>Submission complete</h1>
        <p>Thank you for providing your information to Alternakraft!</p>

        
        <br><p><a href="/" class="back">Return to Main Menu</a></p>
    </body>
</html>